body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Header **/
header {
  background: #4eade7;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 30px;
  letter-spacing: 2px;
}

/* Footer **/
footer {
  background: #35424a;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}
